.poppins-text{
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
.serif-text{
  font-family: "DM Serif Text", serif;
  font-style: normal;
}
.red{
  color: red;
}
.banner{
  background-image: url('../resources/Banner\ Image.png');
  background-repeat: no-repeat;
  margin: 10vh 8vw 10vh 8vw;
  background-position: top;
  background-size: 100% 100%;
}
.banner-bg{
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.578) ;
  border-radius: 0.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-contents{
  margin: auto;
}
.banner-titles{
  padding: 0px;
  margin: 0px;
}
.ban-first{
  font-size: 1.6vw;
  font-weight: 300;
  padding-top: 7.1875vw;
}
.ban-second{
  font-size: 4.5vw;
  font-weight: 500;
}
.ban-second2{
  padding-bottom: 7.1875vw;
}
/*off section*/
.off-section{
  display: block;
  text-align: center;
  margin-top: 8.125rem;
  margin-bottom: 6.25rem;
}
/*welcome section*/
.welcome{
  background-image: url('../resources/Vectorrr.png');
  background-repeat: no-repeat;
  margin: 1.875rem 6.875rem;
  background-position: top;
  background-size: 100% 100%;
}
.welcome-bg{
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.578) ;
  border-radius: 0.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome-contents{
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.welcome-text{
  width: 65%;
  text-align: left;
  margin: 6.25rem 0 6.25rem 6.25rem;
  gap: 1.25rem;
}
.welcome-img{
  margin: 1.875rem 6.25rem 1.875rem 1.5625rem;
}
.w-a{
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  margin: 3.125rem;
}

/*invite section*/
.invite{
  display: block;
  text-align: center;
  background-image: linear-gradient(pink,white);
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
  margin: 6.875rem;
  border-radius: 0.3125rem;
}
.btn{
  padding: 0.625rem 1.25rem 0.625rem 1.25rem;
  color: white;
  background-color: red;
  border: none;
  border-radius: 0.3125rem;
}

/*offer section*/
.offer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1.875rem 6.875rem;
  gap: 3.75rem;
}
.offer-img{
  border: 0.625rem red solid;
  border-radius: 50%;
  padding: 1.25rem;
  max-width: 80%;
}

/*Sale section*/
.sale-section{
  margin: 5rem 6.875rem;
}
.sale-text{
  text-align: center;
}
.sale-img{
  display: flex;
  margin-top: 3.75rem;
  
  background-image: url('../resources/Rectangle\ 2.png'), url('../resources/Rectangle\ 1.png');
  background-repeat: no-repeat;
  background-position: bottom, right top;
  height: 41.25rem;
}
.img-s1{
  padding: 1.875rem 1.25rem 1.875rem 3.125rem;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-s2{
  display: flex;
  width: 50%;
  height: 70%;
  margin-top: 7.5rem;
  margin-right: 1.5625rem;
}

/*portfolio*/
.portfolio{
  margin: 30px 110px 110px 110px;
}
.portfolio-img{
  display: block;
}
.first-row, .second-row{
  display: flex;
  gap: 10px;
  max-width: fit-content;
  margin-bottom: 10px;
}

/*subscribe section*/
.subscribe{
  text-align: center;
  background-color: rgb(250, 232, 232);
  margin: 0.625rem 6.875rem 6.875rem 6.875rem;
  padding: 10%;
  border-radius: 0.625rem;
}
.sub-btn{
  display: flex;
  gap: 0;
  justify-content: center;
  margin-top: 1.875rem;
}
.gmail{
  border-radius: 1.5625rem 0 0 1.5625rem;
  padding: 1.25rem;
  width: 35%;
  border: 0;
}
.submit{
  border-radius: 0 1.5625rem 1.5625rem 0;
  padding: 1.25rem 3.125rem 1.25rem 3.125rem;
  width: 20%;
  border: 0;
  background-color: red;
  color: white;
}

/*footer*/
.foot{
  padding: 6.875rem;
  color: white;
  background-color: rgb(1, 1, 20);
}
.f-row1
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px rgba(27, 27, 44, 0.628) solid;
}
.f-row2{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  padding: 1.25rem 0;
  border-bottom: 0.0625rem rgba(27, 27, 44, 0.628) solid;
}
.f-row3{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.f-row3 a{
  text-decoration: none;
  color: white;
}
.f-rp12{
  padding-right: 5rem;
}