.poppins-text{
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
.serif-text{
  font-family: "DM Serif Text", serif;
  font-style: normal;
}
.red{
  color: rgb(244, 64, 33);
}
.banner{
  background-image: url('../resources/Banner\ Image.png');
  background-repeat: no-repeat;
  margin: 30px 110px;
  background-position: top;
  background-size: 100% 100%;
}
.banner-bg{
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.578) ;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-contents{
  margin: auto;
}
.banner-titles{
  padding: 0px;
  margin: 0px;
}
.ban-first{
  font-size: 1.6em;
  font-weight: 300;
  padding-top: 115px;
}
.ban-second{
  font-size: 4.5em;
  font-weight: 500;
}
.ban-second2{
  padding-bottom: 115px;
}
/*off section*/
.off-section{
  display: block;
  text-align: center;
  margin-top: 130px;
  margin-bottom: 100px;
}
/*welcome section*/
.welcome{
  background-image: url('../resources/Vectorrr.png');
  background-repeat: no-repeat;
  margin: 30px 110px;
  background-position: top;
  background-size: 100% 100%;
}
.welcome-bg{
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.578) ;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome-contents{
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.welcome-text{
  width: 65%;
  text-align: left;
  margin: 100px 0 100px 100px;
  gap: 20px;
}
.welcome-img{
  margin: 30px 100px 30px 25px;
}
.w-a{
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  margin: 50px;
}

/*invite section*/
.invite{
  display: block;
  text-align: center;
  background-image: linear-gradient(pink,white);
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 110px;
  border-radius: 5px;
}
.btn{
  padding: 10px 20px 10px 20px;
  color: white;
  background-color: rgb(244, 64, 33);
  border: none;
  border-radius: 5px;
}

/*offer section*/
.offer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px 110px;
  gap: 60px;
}
.offer-img{
  border: 10px red solid;
  border-radius: 50%;
  padding: 20px;
  max-width: 80%;
}

/*Sale section*/
.sale-section{
  margin: 80px 110px;
}
.sale-text{
  text-align: center;
}
.sale-img{
  display: flex;
  margin-top: 60px;
  
  background-image: url('../resources/Rectangle\ 2.png'), url('../resources/Rectangle\ 1.png');
  background-repeat: no-repeat;
  background-position: bottom, right top;
  height: 660px;
}
.img-s1{
  padding: 30px 20px 30px 50px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-s2{
  display: flex;
  width: 50%;
  margin-top: 120px;
  margin-right: 15px;
}

/*portfolio*/
.portfolio{
  margin: 30px 110px 110px 30px;
}
.portfolio-img{
  display: block;
}
.first-row, .second-row{
  display: flex;
  gap: 10px;
  max-width: fit-content;
  margin-bottom: 10px;
}

/*subscribe section*/
.subscribe{
  text-align: center;
  background-color: rgb(250, 232, 232);
  margin: 10px 110px 110px 110px;
  padding: 10%;
  border-radius: 10px;
}
.sub-btn{
  display: flex;
  gap: 0;
  justify-content: center;
}
.gmail{
  border-radius: 25px 0 0 25px;
  padding: 20px;
  width: 35%;
}
.submit{
  border-radius: 0 25px 25px 0;
  padding: 20px 30px 20px 30px;
  width: 10;
}

/*footer*/
.foot{
  padding: 110px;
  color: white;
  background-color: rgb(1, 1, 20);
}
.f-row1
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px rgba(27, 27, 44, 0.628) solid;
}
.f-row2{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 0;
  border-bottom: 1px rgba(27, 27, 44, 0.628) solid;
}
.f-row3{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.f-row3 a{
  text-decoration: none;
  color: white;
}